Source: ros-humble-fp
Section: misc
Priority: optional
Maintainer: Tyler Weaver <squirrel428@pm.me>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, librange-v3-dev, ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: https://fplib.dev
Standards-Version: 3.9.2

Package: ros-humble-fp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, librange-v3-dev, ros-humble-ros-workspace
Description: FP extensions for C++
